* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(153deg, #00D4FF, #007BFF);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 4.5rem 1fr 4.5rem;
    overflow-wrap: anywhere;
    font-family: "Kodchasan";
}

header {
    grid-area: header;
    background-color: #bdfbff83;
    border-bottom: 15px solid hsla(0, 0%, 0%, 0.13);
}

#border {
    height: 100%;
    border-bottom: rgba(0, 0, 0, 0.527);
}

main {
    grid-area: main;
    justify-content: center;
}

footer {
    grid-area: footer;
    background-color: hsla(0, 0%, 0%, 0.37);
    border-top: 15px solid #00D4FF;
    color: #BDFBFF;
    font-weight: bold;
}

header,
main,
footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

header {
    justify-content: space-evenly;
    padding: 1.5rem;
    padding-top: 0.4rem;
}

#ph,
#pf {
    margin-right: auto;
}

img {
    height: 8vh;
}